[Unit]
Description=CaRePi Lite
After=network.target

[Service]
User=root
ExecStart=/usr/local/bin/docker-compose up
WorkingDirectory=/home/ubuntu/CaRePi_lite
Restart=on-failure

[Install]
WantedBy=multi-user.target
