[Unit]
Description=CaRePi Lite
After=network.target

[Service]
User=root
WorkingDirectory=/home/ubuntu/CaRePi_lite
ExecStart=/usr/bin/docker compose up
Restart=on-failure

[Install]
WantedBy=multi-user.target
