[Unit]
Description=CaRePi Reader [Lite]
After=network.target

[Service]
User=root
WorkingDirectory=/home/ubuntu/CaRePi_lite/CaRePi_reader
ExecStart=/bin/bash launch.sh
Environment=PYTHONUNBUFFERED=1
Restart=on-failure

[Install]
WantedBy=multi-user.target
