<div id="<%= dom_id user %>">
  <p>
    <strong>Student number:</strong>
    <%= user.student_number %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Entry:</strong>
    <%= user.entry %>
  </p>

</div>
